<div class="section-content h-full">
    <video class="w-full h-full object-cover" src="videos/mock-video-2.mp4" loop autoplay></video>
    <!-- <img class="w-full h-full object-cover" src="videos/img.avif" alt=""> -->
    <div class="content-block absolute w-full h-full top-0 leading-0 bg-linear-[180deg,rgba(0,0,0,0.6)_55%,rgba(185,185,185,0.52)_80%,white_100%] flex justify-center items-center">
        <div class="block-panel w-[581px] relative z-[2] flex flex-col items-center gap-11">
            <p class=" text-white text-center !font-['Roboto'] font-semibold text-5xl leading-14">
                Há 28 anos no mercado a garantir o melhor aos nossos clientes e parceiros
            </p>
            <div class="cta">
                <button class=" bg-white flex gap-3 justify-center items-center rounded-full cursor-pointer p-4 text-(color:--primary) !font-['Roboto'] text-base font-medium">
                    <svg width="30" height="31" viewBox="0 0 30 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15 30.5C23.2842 30.5 30 23.7842 30 15.5C30 7.21572 23.2842 0.5 15 0.5C6.71572 0.5 0 7.21572 0 15.5C0 23.7842 6.71572 30.5 15 30.5ZM13.0402 21.2687L20.1206 17.0885C21.2931 16.3961 21.2931 14.6039 20.1206 13.9115L13.0402 9.73129C11.9006 9.05842 10.5 9.9342 10.5 11.3197V19.6802C10.5 21.0658 11.9006 21.9416 13.0402 21.2687Z" fill="#DA347B"/>
                    </svg>
                    Assistir ao vídeo
                </button>
            </div>
        </div>
    </div>
</div>